<body>
	<div id="home">
		<!-- header -->
			<%= render 'common/header' %>
		<!-- //header -->

		<!-- banner -->
			<%= render 'static/banner' %>
		<!-- //banner -->
	</div>
	<!-- about -->
	<section class="about" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 about-left-w3pvt offset-lg-1">
					<div class="main-img">
						<%= image_tag("ab.jpg", class: "img-fluid pos-aboimg") %>
						<%= image_tag("ab2.jpg", class: "img-fluid pos-aboimg2") %>
					</div>
				</div>
				<div class="col-lg-6 about-right offset-lg-1">
					<h3 class="w3ls-title text-da font-weight-bold mb-5 pb-lg4">About <span class="font-weight-light">Us</span></h3>
					<h3 class="sub-tittle-w3layouts text-uppercase mt-2"> <%= I18n.t('website.name') %> for milk & milk products.</h3>
					<p class="mt-4 mb-5">We provide milk and it's product services, After seeing the current technologies trends we start this service.</p>
					<p>User can book / subscribe Milk,Can increase, decrease or hold subscription, One can view order and Can view payment.</p>
					<p>To make service transparent for all, we started this application. Nowadays all are providing facilities in City but what about Village, we also have right to have the same, to meet urban technical facility in our villages we are here for you.</p>
					<ul class="author list-unstyled d-flex">
						<li> <%= image_tag("te1.jpg", class: "img-fluid rounded-circle", alt: "") %></li>
						<li class="ml-4 mt-4"><span>Admin</span> <%= I18n.t('website.name') %> </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- services -->
	<div class="serives-agile py-5" id="how_it_works">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="w3ls-title text-da-white text-center font-weight-bold mb-5 pb-lg-4">How <span class="font-weight-light">it works</span></h3>
			<div class="row support-bottom text-center">
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					<h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Register / Login</h4>
					<p>Simply 'Register' using mobile/email and if you are registered then 'Login'.</p>
				</div>
				<div class="col-md-4 services-w3ls-grid my-md-0 my-4">
					<i class="fa fa-wpforms" aria-hidden="true"></i>
					<h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Subscribe</h4>
					<p>As per your requirement, create subscription by choosing date & quantity.</p>
				</div>
				<div class="col-md-4 services-w3ls-grid">
					<i class="fa fa-truck" aria-hidden="true"></i>
					<h4 class="text-wh text-uppercase mt-md-5 mt-4 mb-3">Get Delivered</h4>
					<p>Very soon our team cntact you and will deliver to your doorstep.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->

	<!-- blog -->
	<section class="w3ls-bnrbtm py-5" id="process">
		<div class="py-xl-5 py-lg-3">
			<div class="row no-gutters">
				<div class="col-xl-5 who-left-w3pvt offset-xl-1 pt-xl-3 pr-xl-0 pr-3">
					<h3 class="w3ls-title text-da text-center font-weight-bold mb-5 pb-lg4">Subscription <span class="font-weight-light">Process</span></h3>
					<ul class="timeline">
						<li>
							<a href="#why" class="head-text-w3">Register / Login</a>
							<!-- <a href="#why" class="float-right">21 Nov, 2018</a> -->
							<p>Choose a step  to become  user.</p>
							<ul style=" color: #999 ">
								<li>Dowonload '<%= I18n.t('website.name') %>' app from play store and get register.</li>
								<li> <span> <i class="fa fa-phone"></i> Call <%= I18n.t('website.contact.mobile') %> with your details.</span></li>
								<li> <span> <i class="fa fa-whatsapp"></i> Whatsapp <%= I18n.t('website.contact.mobile') %>.</span></li>
								<li>Register using website.</li>
							</ul>
						</li>
						<li>
							<a href="#why" class="head-text-w3">Create Address</a>
							<!-- <a href="#why" class="float-right">26 Nov, 2018</a> -->
							<p> Tell us your address to get product deliver on your doorstep without fail.</p>
						</li>
						<li>
							<a href="#why" class="head-text-w3">Start Subscription</a>
							<!-- <a href="#why" class="float-right">30 Nov, 2018</a> -->
							<p>As per your requirement create subscription in few minutes.</p>
						</li>
					</ul>
				</div>
				<div class="col-xl-6 mt-xl-0 mt-md-5 mt-4 text-xl-right text-center">
					<%= image_tag("blog.jpg", class: "img-fluid rounded", alt: "" ) %>
				</div>
			</div>
		</div>
	</section>
	<!-- //blog -->

	<!-- why -->
	<section class="blog_w3ls pb-5" id="why">
		<div class="container pb-xl-5 pb-lg-3">
			<h3 class="w3ls-title text-da text-center font-weight-bold mb-5 pb-lg-4">Why <span class="font-weight-light">Choose Us</span></h3>
			<div class="row">
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<a href="single.html">
								<%= image_tag("wh1.jpg", class: "card-img-bottom", alt: "Card image cap" ) %>
							</a>
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Quality Products
								</h5>
								<div class="blog_w3icon">
									<span>
										We serve - Pure Products</span>
								</div>
							</div>
							<p>We assure about the purity of products. Our ethic is to provide valuable product for what you are paying.</p>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 mt-md-0 mt-5">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<a href="single.html">
								<%= image_tag("wh2.jpg", class: "card-img-bottom", alt: "Card image cap" ) %>
							</a>
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Work Smartly
								</h5>
								<div class="blog_w3icon">
									<span>
										Get Product - Using Mobile</span>
								</div>
							</div>
							<p>We are in the Digital era, so why to worry, just use your mobile to get complete sulation of milk and it's products. </p>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
					<div class="card border-0 med-blog">
						<div class="card-header p-0">
							<a href="single.html">
								<%= image_tag("wh3.jpg", class: "card-img-bottom", alt: "Card image cap" ) %>
							</a>
						</div>
						<div class="card-body border border-top-0">
							<div class="mb-3">
								<h5 class="blog-title card-title m-0">Excellent Services
								</h5>
								<div class="blog_w3icon">
									<span>
										Eveyday - Anyday</span>
								</div>
							</div>
							<p>We require milk everyday wether it is raining, fasting or normal day and we are here to do so even at your doorstep.</p>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
			</div>
		</div>
	</section>
	<!-- //why -->

	<!-- stats-->
	<div class="stats-info py-5">
		<div class="container py-xl-5 py-lg-3">
			<h4 class="stat-text-wthree text-wh mx-auto text-center font-italic mb-sm-5 mb-4">We Care customer's need, assist all the way to keep them healthy.</h4>
			<div class="row py-5">
				<div class="col-lg-3 col-sm-6 stats-grid-w3-agile">
					<div class="row">
						<div class="col-4 icon-right-w3ls text-sm-left text-center">
							<span class="fa fa-smile-o" data-blast="bgColor"></span>
						</div>
						<div class="col-8">
							<p class="counter font-weight-bold text-wh">1590</p>
							<p class="text-li mt-2" data-blast="color">Happy Customers</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-sm-0 mt-4">
					<div class="row">
						<div class="col-4 icon-right-w3ls text-sm-left text-center">
							<span class="fa fa-shield" data-blast="bgColor"></span>
						</div>
						<div class="col-8">
							<p class="counter font-weight-bold text-wh">1000+</p>
							<p class="text-li mt-2" data-blast="color">Subscriptions</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-lg-0 mt-4">
					<div class="row">
						<div class="col-4 icon-right-w3ls text-sm-left text-center">
							<span class="fa fa-coffee" data-blast="bgColor"></span>
						</div>
						<div class="col-8">
							<p class="counter font-weight-bold text-wh">More</p>
							<p class="text-li mt-2" data-blast="color">Products</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 stats-grid-w3-agile mt-lg-0 mt-4">
					<div class="row">
						<div class="col-4 icon-right-w3ls text-sm-left text-center">
							<span class="fa fa-thumbs-o-up" data-blast="bgColor"></span>
						</div>
						<div class="col-8">
							<p class="counter font-weight-bold text-wh">3050</p>
							<p class="text-li mt-2" data-blast="color">Ratings</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //stats -->

	<!-- team -->
		<%#= render 'static/team' %>
	<!-- //team -->

	<!-- testimonials -->
	<section class="clients py-5" id="testi">
		<div class="container py-xl-5 py-lg-3">
			<div class="row py-sm-5">
				<div class="col-lg-6 col-sm-8 col-10">
					<div class="feedback-top">
						<p><i class="fa fa-quote-left" aria-hidden="true"></i> I am happy to share my exeperience of <%= I18n.t('website.name') %>, I get pure milk everyday on time without any trouble at my doorstep. Delivery executive's behaviour is also very good.</p>
						<h4 class="mt-4 text-da font-weight-bold mb-4">Aradhya Kumari</h4>
					</div>
					<div class="feedback-top">
						<p><i class="fa fa-quote-left" aria-hidden="true"></i> They are very Polite. service is very good, Suber! Keep it up <%= I18n.t('website.name') %>.</p>
						<h4 class="mt-4 text-da font-weight-bold mb-4">Subh  Raj</h4>
					</div>
				</div>
				<div class="col-lg-6 col-sm-4 col-2"></div>
			</div>
		</div>
	</section>
	<!-- //testimonials -->

	<!-- gallery -->
	<section class="portfolio py-xl-5" id="gallery">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="w3ls-title text-center font-weight-bold mb-5">Our <span class="font-weight-light">Products</span></h3>
			<div class="row pt-4">
				<div class="col-md-3 gal-grid-wthree">
					<div class="gallery-demo">
						<a href="#gal1">
							<%= image_tag("g1.jpg", class: "img-fluid", alt: "" ) %>
						</a>
					</div>
					<div class="col-lg-12 card-border text-center card-body">
						<h4 class="sub-tittle-w3layouts let">Milk</h4>
					</div>
				</div>
				<div class="col-md-3 gal-grid-wthree my-md-0 my-4">
					<div class="gallery-demo">
						<a href="#gal2">
							<%= image_tag("g2.jpg", class: "img-fluid", alt: "" ) %>
						</a>
					</div>
					<div class="col-lg-12 card-border text-center card-body">
						<h4 class="sub-tittle-w3layouts let">Chhanchh</h4>
					</div>
				</div>
				<div class="col-md-3 gal-grid-wthree">
					<div class="gallery-demo">
						<a href="#gal3">
							<%= image_tag("g3.jpg", class: "img-fluid", alt: "" ) %>
						</a>
					</div>
					<div class="col-lg-12 card-border text-center card-body">
						<h4 class="sub-tittle-w3layouts let">Ghee</h4>
					</div>
				</div>
				<div class="col-md-3 gal-grid-wthree mt-md-0 mt-4">
					<div class="gallery-demo">
						<a href="#gal4">
							<%= image_tag("g4.jpg", class: "img-fluid", alt: "" ) %>
						</a>
					</div>
					<div class="col-lg-12 card-border text-center card-body">
						<h4 class="sub-tittle-w3layouts let">Paneer</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- gallery model-->
	<div id="gal1" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g1.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal2" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g2.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal3" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g3.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal4" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g4.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal5" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g5.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal6" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g6.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal7" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g7.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal8" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g8.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<div id="gal9" class="popup-effect animate">
		<div class="popup">
			<%= image_tag("g5.jpg", class: "img-fluid", alt: "Popup Image" ) %>
			<h4 class="p-mask"> <%= I18n.t('website.name') %> </h4>
			<a class="close" href="#gallery">&times;</a>
		</div>
	</div>
	<!-- //gallery -->

	<!-- subscription -->
	<section class="contact py-5" id="subscribe">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="w3ls-title text-wh text-center font-weight-bold mb-5">Subscribe <span class="font-weight-light">Now</span></h3>
			<!-- subscription  start-->
				<%= render 'static/subscription' %>
			<!-- subscription end -->
		</div>
	</section>
	<!-- //subscription -->
	<!-- partners -->
		<%#= render 'static/partners' %>	
	<!-- //partners -->
		<!-- contact address -->
		<section class="portfolio py-5" id="contact_us">
			<div class="container py-xl-5 py-lg-3">
				<h3 class="w3ls-title text-center font-weight-bold mb-5">Contact <span class="font-weight-light">Us</span></h3>
				<div class="row address bg-li">
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="col-md-9 col-8 address-right">
								<p>
									<a href="mailto:<%= I18n.t('website.contact.email') %>"> mail <%= I18n.t('website.contact.email') %></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 address-grid my-lg-0 my-4">
						<div class="row address-info">
							<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
								<i class="fa fa-phone"></i>
							</div>
							<div class="col-md-9 col-8 address-right">
								<p> <%= I18n.t('website.contact.mobile') %> </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-3 col-4 address-left text-lg-center text-sm-right text-center">
								<i class="fa fa-map"></i>
							</div>
							<div class="col-md-9 col-8 address-right">
								<p> <%= I18n.t('website.contact.first_address') %> </p>
								<p> <%= I18n.t('website.contact.second_address') %> </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //contact address -->
	<!-- //contact us -->

	<!-- footer -->
		<%= render 'common/footer' %>
	<!-- //footer -->

	<!-- move top icon -->
		<%= render 'common/move_to_top' %>
	<!-- //move top icon -->

</body>
